# Core libraries
torch		          # GPU build, CUDA 12.x
numpy
pandas
scipy
statsmodels           # AR(1) & OLS
datasets==2.*
nltk
tqdm
psutil                # For monitoring GPU and CPU usage
logging               # For logging in multi_gpu script
threading             # For parallel processing